<section class="position-fixed top-0 start-0 vw-100 vh-100 bg" id="bg"></section>
<header id="header" class="row m-0 p-0 d-flex centerCenter position-static px-md-5"
  style="background-color: #000d19; height: 60px;">
  <div class="col-9 h-100 d-flex align-items-center justify-content-start">
    <a routerLink="/home" class="logo">o<span class="text-decoration-line-through text-skyblue">N</span>da</a>
    <div class="logoIMG"></div>
  </div>
  <ul class="nav h-100 col-3 d-flex justify-content-end align-items-center">
    <li class="m-0"><a style="white-space: nowrap;" routerLink="/AboutUs">About us</a></li>
  </ul>
</header>


<section class="row m-0 col-12 content vh-100 position-relative">
  <div class="title position-absolute top-0 start-0 px-4 ">
    <div class="logo2" id="logo2"></div>
    <h3 class="text-nowrap" dir="rtl">عن المشروع</h3>
  </div>
  <div class="col-md-9 offset-md-3 col-lg-6 offset-lg-6 offset-0 col-12  h-100">
    <div class="text px-1">


      <div dir="rtl">

        فكرة المشروع تتمحور حول إنشاء سينما فاخرة على متن يخت يتحرك في شواطئ بورتو مارينا. يمكن للركاب الاستمتاع بعروض
        سينمائية عالية الجودة والرفاهية في جو من الطبيعة والمغامرة
        <br><br>


        <span>
          الهدف
        </span>


        <br><br>



        <span class="span2">
          تجربة فريدة:
        </span>
        توفير تجربة سينمائية فاخرة ومختلفة، حيث يتم دمج مفهوم الرحلة البحرية مع الترفيه السينمائي
        <br><br>
        <span class="span2">
          الرفاهية والخصوصية:
        </span>
        تقديم تجربة فريدة للزبائن الراغبين في التمتع بالسينما في بيئة خاصة وفاخرة.


        <br><br>
        <span class="span2">
          استكشاف المناظر الطبيعية:
        </span>
        تمكين الجمهور من مشاهدة مناظر طبيعية فريدة وجميلة أثناء مشاهدتهم للأفلام.


        <br><br>


        <span>
          المميزات:
        </span>
        <br><br>
        <span class="span2">
          ساحة مريحة وفاخرة: </span>
        يتم تجهيز اليخت بصالة سينمائية فاخرة مع مقاعد مريحة وأنظمة صوت وصورة عالية الجودة
        <br><br>
        <span class="span2">
          طعام ومشروبات:
        </span>
        تقديم خدمات ترفيهية مكملة مثل تقديم وجبات خفيفة ومشروبات فاخرة للركاب أثناء المشاهدة.
        <br><br>
        <span class="span2">
          رحلة نيلية:
        </span>
        فرصة للاستمتاع برحلة نيلية رائعة أثناء مشاهدة الأفلام، مما يخلق تجربة استثنائية.
        <br><br>
        <span>
          الاستدامة:
        </span>
        <br><br>
        <span class="span2">
          تكنولوجيا صديقة للبيئة </span>
        استخدام تكنولوجيا الطاقة النظيفة والأنظمة البيئية للحفاظ على نظافة الشواطئ.
        <br><br>
        <span class="span2">
          تعزيز السياحة:
          تكنولوجيا صديقة للبيئة </span>
        المساهمة في تعزيز السياحة البيئية والثقافية في المنطقة.
        <span>
          الاستدامة المالية:
        </span>
        <br><br>
        <span class="span2">
          تحديد الأسعار بعناية: </span>
        تحديد أسعار معقولة ومناسبة لتكون ملهمة وفي متناول الجميع.
        <br>
        <br>
        <br>
        مشروع سينما على يخت في شواطئ بورتو مارينا يمكن أن يكون تحفيزًا للسياحة ويقدم تجربة ترفيهية فاخرة وفريدة، مع الحرص على
        الاستدامة البيئية والاقتصادية

      </div>

    </div>

  </div>

</section>
<div class="team col-12 row m-0 h-auto centerCenter mt-5">
  <h2 class="m-0 p-3 fa text-center">The Team</h2>
  <div class="position-relative col-12 col-sm-6 col-md-4 col-lg-3 vh-75 per overflow-hidden"
    [ngClass]="{'positionTop': item.name == 'Naglaa Sameh'}" style="background-image: url('{{item.image}}');"
    *ngFor="let item of team">

    <div [ngClass]="item.gender" class=" w-100 h-100 position-relative">
      <div class="blog-card__square"></div>
      <div class="blog-card__circle"></div>
    </div>
    <p class="position-absolute bottom-0 start-0 ps-4 pb-2 fs-2 text-capitalize ">{{item.name}}</p>
  </div>


</div>
<div class="sci">

  <ul class="">

    <li><a target="_blank" href="https://www.al3tar.me/ZPORTOFOLIO/#/home"><i class="bi bi-browser-chrome"></i></a>
    </li>
    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100009837481669"><i
          class="bi bi-facebook"></i></a></li>
    <li><a target="_blank" href="https://wa.me/01270363116"><i class="bi bi-whatsapp"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/ziad-alattar-b6a481224/"><i
          class="bi bi-linkedin"></i></a></li>
  </ul>
  <p>CODED BY <span>ZIAD ALMORSY</span></p>
</div>
