// @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary: #ff3700
}
html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #1f2025;
  color: white;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

header#header{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;

    @media (min-width: 0px) and (max-width: 1100px) {
      padding: 30px 50px;

    }

    z-index: 10;

    .nav {
      li {
        list-style: none;
        margin: 0 10px;

        &:hover {
          a {
            color: var(--primary);
          }
        }
      }

      a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.3s;
      }
    }

    .logo {
      font-size: 40px;
      color: #ffffff;
      letter-spacing: 1px;
      font-weight: 800;
    }

    .logoIMG {
      width: 70px;
      height: 70px;
      background-repeat: no-repeat;
      background-size: contain !important;
      background-position: center;
      margin-top: 10px;
      background-image: url(/assets/logo.png);
    }
  }


.centerCenter{
display: flex;
align-items: center;
justify-content: center;
}

.centerBetween{
display: flex;
align-items: center;
justify-content: space-between;
}
.text-skyblue{
  color: skyblue;

}
